<div id="userAccessAddUpdateComponent">
    <div class="genericborder">
        <label style="width: 60px; text-align: right;">User Id:</label>
        <input type="text" style="border: 1px solid lightgray; padding-left: 3px; margin-left: 5px; width: 100px; text-align: left;" value="0001" disabled="disabled"/><br/>
        <label style="width: 60px; text-align: right;">Name:</label>
        <input type="text" style="border: 1px solid lightgray; padding-left: 3px; margin-left: 5px; width: 413px; text-align: left;" value="Superman" disabled="disabled"/>
        <button>...</button>
    </div>
    <div class="genericborder" style="min-width:98% !important;overflow-x:auto;  ">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Permission Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="permission in vm.permissions" style="text-align: left;">
                <td><input type="checkbox" /></td>
                <td>{{permission.Description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="genericborder">
        <button>Submit/Update</button>
        <button>Cancel</button>
    </div>
</div>



