<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="role in $ctrl.list track by role.id">
      <td>{{role.name}}</td>
      <td>
        <button ng-click="$ctrl.view(role.id)">view</button>
        <button ng-show="role.active" ng-click="$ctrl.toggleActive(role.id, role.active)">deactivate</button>
        <button ng-hide="role.active" ng-click="$ctrl.toggleActive(role.id, role.active)">activate</button>
      </td>
    </tr>
  </tbody>
</table>