<div>
    <p><h1>{{tech.process}} Technology</h1></p>
    <ng-form name="techForm">
        <label for="techName">Name:</label> &nbsp;<input id="techName" type="text" ng-model="tech.name" placeholder="Please enter name..." required /><br />
        <label for="techDescription">Brief Description:</label>&nbsp;<textarea id="techDescription" ng-model="tech.description" placeholder="Please enter description..."></textarea>
        <p>
            <button type="submit" ng-disabled="techForm.$invalid" ng-click="saveTechDetail(tech, techForm);">Submit</button>
            <button type="button" ng-click="cancelTechDetail();">Cancel</button>
        </p>
    </ng-form>
</div>